<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!isSearchbarOpened">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isSearchbarOpened">Home</ion-title>

    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card *ngFor="let materia of materias" (click)="onSearchByMateria(materia)">
    <div class="card-title">{{materia.nombre}}</div>
    <img class="full-image" [src]="domSanitizer.bypassSecurityTrustUrl(materia.foto.base64Src)"/>
  </ion-card>
</ion-content>
