<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi cuenta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="user">
    <ion-item>
      <ion-avatar item-start *ngIf="user.foto">
          <img [src]="domSanitizer.bypassSecurityTrustUrl(user.foto.base64Src)"/>
      </ion-avatar>
      <h2>{{ user.username }}</h2>
      <p>{{ user.email }}</p>
      <p>{{ user.nombre }}</p>
      <p>{{ user.presentacion }}</p>
    </ion-item>
  </div>

  <ion-list *ngIf="documentos?.documentosCreados.length">
    <ion-label>Documentos subidos</ion-label>
    <ion-item *ngFor="let document of documentos.documentosCreados">
      <h2>{{ document.nombre }}</h2>
      <p>{{ document.descripcion }}</p>
      <p>Extension: {{ document.extension }}</p>
      <p>Creacion: {{ document.fechaCreacion }}</p>
      <p>Ulima modificacion: {{ document.fechaUltModificacion }}</p>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="documentos?.documentosConAcceso.length">
    <ion-label>Documentos compartidos contigo</ion-label>
    <ion-item *ngFor="let document of documentos.documentosConAcceso">
      <h2>{{ document.nombre }}</h2>
      <p>{{ document.descripcion }}</p>
      <p>Extension: {{ document.extension }}</p>
      <p>Creacion: {{ document.fechaCreacion }}</p>
      <p>Ulima modificacion: {{ document.fechaUltModificacion }}</p>
    </ion-item>
  </ion-list>

</ion-content>
